###### MAP IPC ######
# The base of a URL that Map System clients use when creating a Map subscription URL.
# If you are using Tomcat instead of the built-in Jetty, change this in
# WEB-INF/configuration.properties instead.
opennms.map-client.http-post.url = http://localhost:8980/opennms/map/post

# The username the Map System uses when authenticating itself in an HTTP POST.
opennms.map-client.http-post.username = map

# The password the Map System uses when authenticating itself in an HTTP POST.
opennms.map-client.http-post.password = map
