<?xml version="1.0" encoding="UTF-8"?>
<datasource-configuration xmlns:this="http://xmlns.opennms.org/xsd/config/opennms-datasources" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://xmlns.opennms.org/xsd/config/opennms-datasources 
  http://www.opennms.org/xsd/config/opennms-datasources.xsd ">

  <connection-pool factory="{{ opennms_database_connection_factory }}"
    idleTimeout="{{ opennms_database_idle_timeout }}"
    loginTimeout="{{ opennms_database_login_timeout }}"
    minPool="{{ opennms_database_min_pool }}"
    maxPool="{{ opennms_database_max_pool }}"
    maxSize="{{ opennms_database_max_size }}" />

  <jdbc-data-source name="opennms" 
                    database-name="{{ opennms_database_name }}" 
                    class-name="org.postgresql.Driver" 
                    url="jdbc:postgresql://{{ opennms_database_address }}:{{ opennms_database_port }}/{{ opennms_database_name }}"
                    user-name="{{ opennms_database_user }}"
                    password="{{ opennms_database_password }}" />

  <jdbc-data-source name="opennms-admin" 
                    database-name="template1" 
                    class-name="org.postgresql.Driver" 
                    url="jdbc:postgresql://{{ opennms_database_address }}:{{ opennms_database_port }}/template1"
                    user-name="{{ opennms_database_postgres_user }}"
                    password="{{ opennms_database_postgres_password }}" />
</datasource-configuration>
